body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgb(222, 221, 215);
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.affiche-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    padding: 24px 12px;
}

.affiche-title {
    font-size: 36pt;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 24px;
}

.affiche-status {
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
}

.affiche-sub-status {
    text-align: center;
    font-weight: 200;
    font-size: 12pt;
    margin-top: 8px;
}

.affiche-content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 85vw;
    margin: 16px 0;
    gap: 16px;
}

.affiche-sub-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 12px;
    border-radius: 8px;
}

.affiche-content-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.affiche-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 8px;
}

.affiche-file__label {
    font-size: 13pt;
    font-weight: 600;
}

.affiche-file__input {
    width: 200px;
    margin-left: 24px;
}

.affiche-submit {
    align-self: center;
}

.affiche-options-header {
    display: flex;
    flex-direction: row;
    line-height: 100%;
}

.affiche-options-header__icon {
    padding-right: 6px;
}

.affiche-options-header__icon::before {
    content: '►'
}

.affiche-options-header__icon--opened::before {
    content: '▼'
}

.affiche-options-header__title {
    font-size: 10pt;
    font-weight: 600;
    margin-bottom: 8px;
}

.affiche-options-foldout {
    display: flex;
    margin: 0 12px 0 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
}

.affiche-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px
}

.affiche-options {
    font-size: 11pt;

    display: flex;
    flex-direction: column;
    align-self: stretch;

    .je-object__container {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    > .je-object__container {
        > .je-object__title {
            display: none;
        }

        > .je-object__controls {
            display: none;
        }

        > .je-indented-panel {
            padding: 0;
            margin: 0;
        }
    }

    .je-object__controls {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 4px;
    }

    .je-indented-panel {
        border: none;

        > div > div {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 4px;
        }

        .je-switcher {
            background-color: revert;
            font-style: revert;
            font-weight: revert;
        }
    }

    .form-control {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        label {
            font-weight: 400;
            display: flex;
            flex: 1 1;
            margin-right: 8px;
        }

        > input, select {
            display: flex;
            flex: 0 1;
            max-width: 50%;
        }

        .errmsg {
            flex-basis: 100%;
            color: lab(50% 45 15);
            font-size: 9pt;
            padding-left: 6px;
        }
    }
}

.affiche-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiche-preview__image {
    object-fit: contain;
    max-width: min(85vw, 100%);
}

.affiche-preview__title {
    font-size: 10pt;
    font-weight: 200;
    margin-top: 8px;
}

.affiche-info {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.affiche-info__fields {
    display: flex;
    flex-direction: column;
}

.affiche-info__field > label {
    font-size: 11pt;
    font-weight: 600;
    padding-right: 6px;
}

.affiche-info__field {
    display: flex;
}

.affiche-info-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    max-width: 600px;
}

.affiche-info-map__leaflet {
    width: 100%;
    height: 400px;
    max-width: 600px;
}

.affiche-info-map__title {
    font-size: 10pt;
    font-weight: 200;
    margin-top: 8px;
}

.affiche-info-map__link {
    font-size: 9pt;
    font-weight: 200;
}

.affiche-expo-integration {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 36px;
}

.affiche-expo-integration__link {
    font-size: 16pt;
    font-style: italic;
    font-weight: 700;
}

.affiche-expo-refresh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.affiche-expo-refresh > label {
    font-size: 11pt;
    font-weight: 400;
}

.affiche-icon--wait::after {
    content: ' ⏳'
}

.affiche-icon--ok::after {
    content: ' ✅'
}

.affiche-icon--error::after {
    content: ' ❌'
}
