body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgb(222, 221, 215);
}

.affiche-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiche-title {
    font-size: 40pt;
    font-style: italic;
    font-weight: 700;
    margin: 48px 0;
}

.affiche-status {
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
}

.affiche-sub-status {
    text-align: center;
    font-weight: 200;
    font-size: 12pt;
    margin-top: 8px;
}

.affiche-upload-form {
    margin: 24px 0;
}

.affiche-file-input {
    width: 200px;
}

.affiche-submit {
    margin-top: 14px;
}

.affiche-preview {
    max-width: 85vw;
}

.affiche-preview-title {
    font-size: 10pt;
    font-weight: 200;
    margin: 12px 0;
}
